.bandeau{
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    float : left;
    width: fit-content;
    background-color: #063970;
    color: white;
    font-size: 24px;
}

.bandeau-item{
    padding-bottom: 40px;
    padding-right: 5px;
}

.bandeau ul{
    list-style: none;
}

.bandeau ul li a{
    color: white;
    text-decoration: none;
    border: 2px solid #eeeee4;
    padding: 10px;
    border-radius: 15px;
    transition: 0.25s ease;
}

.bandeau ul li a:hover{
    background-color: #eeeee4;
    color: #063970;
}

a.lienCompteUtilisateur {
    text-decoration: none;
    color: white;
}

img.avatarUtilisateur{  
    width: 80px;
    height: auto;
}