body {
    justify-items: center;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
    padding: 20px;
}

thead tr th {
    font-weight: 800;
}

tableauInventaireReseaux{
        width: 50%;
    justify-content: center;
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
}

th,td {
    border: 1px solid rgb(160 160 160);
    width: 100px;
    padding: 10px 0;
}

td:last-of-type {
    text-align: center;
}


table.tableauInventaireReseaux {
    background-color: aquamarine;
    padding: 20px;
}

caption {
    caption-side: bottom;
    padding: 10px;
    font-weight: bold;
}

thead,tfoot {
    background-color: rgb(228 240 245);
}

th,td {
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;
}

td:last-of-type {
    text-align: center;
}

tbody>tr:nth-of-type(even) {
    background-color: rgb(237 238 242);
}

tfoot th {
    text-align: right;
}

tfoot td {
    font-weight: bold; 
}