div.table{
    align-items: center;
    justify-content: center;
    justify-items:center; 

}

table{
        width: 50%;
    justify-content: center;
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
}

th,td {
    border: 1px solid rgb(160 160 160);
    width: 100px;
    padding: 10px 0;
}

td:last-of-type {
    text-align: center;
}
