@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Funnel+Display:wght@300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    font-family: "Roboto", sans-serif;
}

/*Svp comprenez moi, je voulais être sur que ça soit centré*/
section{
    align-items: center;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    align-self: center;
}

h1{
    text-align: center;
}

.containerTableauDeBord{
    width: 50%;
    justify-content: center;
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
    letter-spacing: 1px;
    padding: 20px;
    margin-bottom: 20px;
}

.boutonsContainer{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.boutonLien{
    background-color: bisque;
    color: black;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 500;
}

.boutonLien:hover{
    background-color: rgb(255, 200, 150);
    color: black;
    text-decoration: none;
    list-style: none;
}

.boutonLien a{
    text-decoration: none;
    color: black;
}